<footer class="container-fluid">
    <div class="row footer-container">
        <div class="text-center or-spacer">
            <div class="text-center mask"></div>
        </div>
        <div class="col-12 social-network">
            <a href=""><i class="fab fa-instagram fa-2x"></i></a>
            <a href=""><i class="fab fa-facebook-square fa-2x"></i></a>
            <a href=""><i class="fab fa-twitter-square fa-2x"></i></a>
        </div>
        <div class="col-12 copyright">
            2018 Yago ALL RIGHTS RESERVED.
        </div>
    </div>
</footer>