{% extends 'layout.html.twig' %}

{% block layout %}
    <div class="container-fluid home">
        <div class="row background">
            <div class="col-xs-12 title mx-auto my-auto">UN TITRE BLABLABLA BLABLABLA</div>
        </div>
        <div class="row p-2 pt-5">
            {% include 'default/thumbnails.html.twig' %}
        </div>
    </div>
{% endblock %}
