p {

}

h1 {
  text-align: left;
}

.card {
  background-color: black;
  border-radius: 0;
  img {
    border-radius: 0;
  }
}

h2 {
  font-size: 15px;
  font-weight: bold;
}

h3 {
  font-size: 13px;
  font-weight: bolder;
}
