@import "~bootstrap/scss/bootstrap";

$black: #000000;
$white: #FFFFFF;
$blue: #04B0EF;
$josefin: 'Josefin Sans', sans-serif;
$narrow: 'PT Sans Narrow', sans-serif;

body {
  font-family: $narrow;
  background-color: $black;
  color: $white;
  text-align: center;
  font-weight: 200;
}

h1, h2, h3, h4 {
  font-family: $josefin;
  font-weight: 200;
  text-transform: uppercase;
  font-size: 3rem;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.7);
  height: 80px;
  text-transform: uppercase;
  font-family: $josefin;
  font-weight: 300;
  a {
    color: $white;
    &:hover {
      color: $blue;
    }
  }
}

.home {
  .background {
    background-image: url("../../web/images/gallery1.jpg");
    background-size: cover;
    min-height: 100vh;
    .title {
      font-size: 8rem;
      text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
  }
}

h2 {
  font-size: 2rem;
  font-weight: bold;;
}

/**
ARTWORK PAGE
 */

.artwork-header{
  margin-top: 80px;
  height: 60vh;
  width: 100%;
  position: relative;
  overflow:hidden;
  .artwork-img{
    object-fit: contain;
    max-height: 100%;
    max-width: 100%;
    position: absolute;
    top:50%;
    transform: translate(-50%, -50%);
  }
  .artwork-bg{
    object-fit: cover;
    width: 100%;
    position:absolute;
    left: -50%;
    top: 50%;
    transform: translate(50%, -50%);

    filter: blur(15px);
  }
  .player{
    position: absolute;
    bottom: 15px;
    right: 15px;
    z-index: 10;
  }
}

/*FIN artwork page*/
footer {
  margin-top: 700px;
  height: 300px;
  border-top: white 1px solid;
  box-shadow: 0px -1px 5px 0px rgba(255, 255, 255, 0.5);

  .footer-container {
    padding-top: 110px;
  }

  .copyright {
    height: 50%;
  }

  .social-network {
    i {
      margin: 3px;
    }
  }
}