h1 {
  text-align: left;
}
h2 {
  color: white;
  font-size: 15px;
  font-weight: bold;
}

p {
  color: white;
}

.card {
  background-color: black;
  border-radius: 0;
  img {
    border-radius: 0;
  }
}
