{% extends 'layout.html.twig' %}

{% block layout %}
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/favorites.css') }}">
    {% endblock %}

    <div class="container mt-navbar">
        <h1>Mes oeuvres favorites</h1>
            {%  for favorite in favorites %}
                <p>
                    <a href="{{ path('artwork', {'id': favorite.artwork.id}) }}">{{ favorite.artwork.title}}</a>
                </p>
            {% endfor %}
    </div>

{% endblock %}