{% extends 'layout.html.twig' %}

{% block layout %}
    <div class="container">
        <h1>{{ artwork.title }}</h1>
        <p>{{ artwork.date }}</p>
        <p>{{ artwork.image }}</p>

        {% for artist in artwork.artists %}
            <p>{{ artist.name }}</p>
        {% endfor %}
    </div>
{% endblock %}
