<div class="container-fluid">
    <h2>Découvrez aussi</h2>
    <div class="grid">
        {% for artwork in relatedArtworks %}
            <div class="grid-item">
                <a href="{{ path('artwork', {id: artwork.id}) }}">
                    <img src="{{ artwork.image }}" class="p-1" alt="">
                </a>
            </div>
        {% endfor %}
    </div>
</div>
